# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Conda / env
.env
.venv

# Data
data/raw_public/
data/raw_generic/
data/raw_eye_videos/
data/processed/
data/events/

# Outputs
outputs/
logs/
*.tar.gz
*.zip
*.mp4
*.avi
*.mov
*.mkv
*.png
*.jpg

# OS
.DS_Store
Thumbs.db
